@font-face {
    font-family: 'battlestar';
    src: url('Battlestar.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 560px;
    color: white;
    background-image: url("../images/bsg-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

header {
    text-align: center;
    width: 320px;
    margin: auto;
    transition: opacity 1s linear;
}

header > img {
    position:relative;
    bottom: 25px;
    width: 320px;
}

.logo {
    color: silver;
    position: relative;
    bottom: 40px;
    font-size: 28px;
    font-family: battlestar;
}

main {
    text-align: center;
    font-size: 16px;
    transition: opacity 1s linear;
}

.success-container, .failure-container {
    padding: 50px 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    min-width: 560px;
    top: 0;
    z-index: -1;
    transition: opacity 1s linear;
    opacity: 0;
}

.game-over-container {
    padding: 50px 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    min-width: 560px;
    top: 0;
    z-index: -1;
    transition: opacity 1s linear;
    opacity: 0;
}

.game-over-container > .end-message {
    font-size: 42px;
}

img.end-medal {
    display: block;
    height: 240px;
    margin: auto;
}

.end-word {
    margin: 25px;
    text-align: center;
    font-family: battlestar;
    font-size: 26px;
}

.end-message {
    margin: 25px;
    text-align: center;
    font-family: battlestar;
    font-size: 26px;
}

main > div {
    margin-bottom: 20px;
}

.instructions {
    font-size: 18px;
    text-align: center;
}

main > div.instructions {
    position: relative;
    bottom: 15px;
}

.inline-container, .block-container {
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid black;
    transition: border .5s linear, background-color .5s linear;
}

.inline-container:hover, .block-container:hover {
    background-color: rgba(0, 0, 0, .8);
    border: 1px solid white;
}

.inline-container {
    width: 160px;
    padding: 8px 0;
    display: inline-block;
}

.block-container {
    width: 320px;
    padding: 8px;
    margin: 0 auto 16px auto;
    height: 70px;
}

.wins, .guesses, .word, .letters {
    color: white ;
    font-size: 26px;
    font-family: battlestar;
    padding: 4px;
}